@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.roboto-normal {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.wrapper,.nav_ban{
    width: 75%;
    margin: 0 auto;
}

.nav ul li:hover a{
    color: black;
    font-weight: bold;
}
.nav ul li a:focus{
    color: black;
    font-weight: bold;
}

.plants .body{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    column-gap: 50px;
    /* justify-content: space-between; */
}
.plants .body .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* responsive media query */
@media screen and (max-width: 640px) {
    .nav_ban{
        width: 100%;
    }
    .wrapper,.ban_body,.nav{
        width: 90%;
        margin: 10px auto;
    }
    .nav{
        margin-top: 70px;
    }

    .nav ul{
        justify-content: end;
    }
    .nav ul li{
        display: none;
    }
    #cart{
        display: block;
    }

    .plants .body{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 10px;
        
    }

}
